body {
  width: 100%;
  height: 100%;
  color: #53575a;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
html {
  width: 100%;
  height: 100%;
}
p {
  color: #53575a;
  font: 400 1rem/1.625rem "Open Sans", sans-serif;
}
h1 {
  color: #161223;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 3.25rem;
  font-family: "Poppins";
}
h2 {
  color: #161223;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: "Poppins";
}
h3 {
  color: #161223;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-family: "Poppins";
}
h4 {
  color: #161223;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  font-family: "Poppins";
}
h5 {
  color: #161223;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.625rem;
  font-family: "Poppins";
}
h6 {
  color: #161223;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.375rem;
  font-family: "Poppins";
}
.p-large {
  font-size: 1.125rem;
  line-height: 1.75rem;
}
.p-small {
  font-size: 0.875rem;
  line-height: 1.5rem;
}
.testimonial-text {
  font-style: italic;
}
.testimonial-author {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-family: "Poppins";
}
.li-space-lg {
  li {
    margin-bottom: 0.5rem;
  }
}
a {
  color: #53575a;
  text-decoration: underline;
  &:hover {
    color: #53575a;
    text-decoration: underline;
  }
}
.no-line {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
.read-more {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5rem;
  .fas {
    margin-left: 0.625rem;
    font-size: 1rem;
    vertical-align: -8%;
  }
}
.bg-gray {
  background-color: #f7f9fd;
}
.btn-solid-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #235bf4;
  border-radius: 4px;
  background-color: #235bf4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    background-color: transparent;
    color: #235bf4;
    text-decoration: none;
  }
}
.btn-solid-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #235bf4;
  border-radius: 4px;
  background-color: #235bf4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    background-color: transparent;
    color: #235bf4;
    text-decoration: none;
  }
}
.btn-outline-reg {
  display: inline-block;
  padding: 1.375rem 2.25rem 1.375rem 2.25rem;
  border: 1px solid #161223;
  border-radius: 4px;
  background-color: transparent;
  color: #161223;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    background-color: #161223;
    color: #ffffff;
    text-decoration: none;
  }
}
.btn-outline-lg {
  display: inline-block;
  padding: 1.625rem 2.625rem 1.625rem 2.625rem;
  border: 1px solid #161223;
  border-radius: 4px;
  background-color: transparent;
  color: #161223;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    background-color: #161223;
    color: #ffffff;
    text-decoration: none;
  }
}
.btn-outline-sm {
  display: inline-block;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border: 1px solid #161223;
  border-radius: 4px;
  background-color: transparent;
  color: #161223;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  text-decoration: none;
  transition: all 0.2s;
  &:hover {
    background-color: #161223;
    color: #ffffff;
    text-decoration: none;
  }
}
.form-group {
  position: relative;
  margin-bottom: 1.25rem;
}
.form-control-input {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  &:focus {
    border: 1px solid #a1a1a1;
    outline: none;
  }
  &:hover {
    border: 1px solid #a1a1a1;
  }
}
.form-control-textarea {
  width: 100%;
  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  padding-left: 1.5rem;
  border: 1px solid #cbcbd1;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5rem;
  -webkit-appearance: none;
  display: block;
  height: 14rem;
  &:focus {
    border: 1px solid #a1a1a1;
    outline: none;
  }
  &:hover {
    border: 1px solid #a1a1a1;
  }
}
.form-control-submit-button {
  display: inline-block;
  height: 3.25rem;
  width: 6rem;
  border: 1px solid #235bf4;
  border-radius: 4px;
  background-color: #235bf4;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    border: 1px solid #235bf4;
    background-color: transparent;
    color: #235bf4;
  }
}
.navbar {
  background-color: #161223;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 0.875rem;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.025);
  .navbar-brand {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
  .logo-image {
    img {
      width: 100px;
      height: 32px;
    }
  }
  .logo-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 1rem;
    text-decoration: none;
  }
  .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
  }
  .nav-item {
    .nav-link {
      padding-top: 0.625rem;
      padding-bottom: 0.625rem;
      color: #eeeeee;
      text-decoration: none;
      transition: all 0.2s ease;
      &:hover {
        color: #235bf4;
      }
    }
    .nav-link.active {
      color: #235bf4;
    }
  }
  .nav-item.dropdown.show {
    .nav-link {
      color: #235bf4;
    }
  }
  .dropdown {
    .dropdown-menu {
      animation: fadeDropdown 0.2s;
    }
  }
  .dropdown-menu {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: none;
    background-color: #161223;
  }
  .dropdown-item {
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    color: #eeeeee;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 0.875rem;
    text-decoration: none;
    &:hover {
      background-color: #161223;
      color: #235bf4;
    }
  }
  .dropdown-divider {
    width: 100%;
    height: 1px;
    margin: 0.5rem auto 0.5rem auto;
    border: none;
    background-color: #5b5f66;
  }
  .fa-stack {
    width: 2em;
    margin-right: 0.25rem;
    font-size: 0.75rem;
    &:hover {
      .fa-stack-2x {
        color: #ffffff;
      }
      .fa-stack-1x {
        color: #235bf4;
      }
    }
  }
  .fa-stack-2x {
    color: #235bf4;
    transition: all 0.2s ease;
  }
  .fa-stack-1x {
    color: #ffffff;
    transition: all 0.2s ease;
  }
  .navbar-toggler {
    padding: 0;
    border: none;
    font-size: 1.25rem;
  }
}
.offcanvas-collapse {
  position: fixed;
  top: 3.25rem;
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #161223;
  transition: visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out,
    -webkit-transform 0.3s ease-in-out;
}
.offcanvas-collapse.open {
  visibility: visible;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
.header {
  position: relative;
  #video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
  }
  .header-content {
    padding-top: 11rem;
    padding-bottom: 9rem;
    background: linear-gradient(rgba(21, 35, 63, 0.5), rgba(21, 35, 63, 0.5));
    background-size: cover;
    text-align: center;
  }
  .h1-large {
    margin-bottom: 2.25rem;
    color: #ffffff;
    font-size: 3rem;
    line-height: 3.75rem;
  }
}
.cards-1 {
  padding-top: 9.125rem;
  padding-bottom: 5.25rem;
  text-align: center;
  .h2-heading {
    margin-bottom: 1.125rem;
  }
  .p-heading {
    margin-bottom: 4rem;
    text-align: center;
  }
  .card {
    margin-bottom: 4rem;
    border: none;
    border-radius: 6px;
  }
  .card-body {
    padding: 0;
  }
  .card-icon {
    width: 90px;
    height: 90px;
    margin-right: auto;
    margin-bottom: 2rem;
    margin-left: auto;
    border-radius: 50%;
    background-color: #235bf4;
    text-align: center;
    .fas {
      color: #ffffff;
      font-size: 2.125rem;
      line-height: 90px;
    }
  }
  .card-title {
    margin-bottom: 0.625rem;
  }
}
.split {
  .area-1 {
    height: 430px;
    background: url("../images/details-background.jpg") center center no-repeat;
    background-size: cover;
  }
  .area-2 {
    padding-top: 9.25rem;
    padding-bottom: 9.75rem;
  }
  h2 {
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 2.25rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.filter {
  padding-top: 9.5rem;
  padding-bottom: 5.625rem;
  text-align: center;
  h2 {
    margin-bottom: 2.625rem;
  }
  .button-group {
    margin-bottom: 1.375rem;
  }
  .button {
    margin-right: 0.25rem;
    margin-bottom: 0.75rem;
    margin-left: 0.25rem;
    padding: 0.125rem 0.875rem;
    border: none;
    background-color: #ffffff;
    color: #53575a;
    font-weight: 600;
    font-size: 0.875rem;
    &:hover {
      background-color: #235bf4;
      color: #ffffff;
    }
  }
  .button.is-checked {
    background-color: #235bf4;
    color: #ffffff;
  }
  .grid {
    margin-right: auto;
    max-width: 351px;
    margin-left: auto;
  }
  .element-item {
    margin-bottom: 3rem;
    a {
      text-decoration: none;
    }
    img {
      margin-bottom: 1.125rem;
      border-radius: 8px;
    }
    p {
      text-align: left;
    }
  }
}
.slider-1 {
  position: relative;
  padding-top: 12rem;
  padding-bottom: 11.75rem;
  .slider-container {
    position: relative;
  }
  .swiper-container {
    position: static;
    width: 86%;
    text-align: center;
  }
  .swiper-button-prev {
    &:focus {
      outline: none;
    }
    left: -10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
    background-size: 18px 28px;
  }
  .swiper-button-next {
    &:focus {
      outline: none;
    }
    right: -10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2028%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23707375'%2F%3E%3C%2Fsvg%3E");
    background-size: 18px 28px;
  }
  .testimonial-image {
    width: 400px;
    height: 400px;
    margin-bottom: 2.25rem;
  }
  .testimonial-text {
    margin-bottom: 1.75rem;
    font-size: 1.25rem;
    line-height: 2rem;
  }
  .testimonial-author {
    margin-bottom: 0.25rem;
    color: #161223;
  }
  .text-decoration {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
.form-1 {
  padding-top: 9.25rem;
  background: linear-gradient(rgba(2, 15, 29, 0.1), rgba(2, 15, 29, 0.1)),
    url("../assets/images/contact-background.jpg") center center no-repeat;
  background-size: cover;
  text-align: center;
  .h2-heading {
    margin-bottom: 1.125rem;
    color: #ffffff;
  }
  .p-heading {
    margin-bottom: 0.375rem;
    color: #ffffff;
  }
  .list-unstyled {
    margin-bottom: 3.5rem;
    color: #ffffff;
    a {
      color: #ffffff;
    }
    .fas {
      color: #235bf4;
    }
  }
  .form-control-input {
    border-color: #374959;
    background-color: #293642;
    color: #efefef;
    &::placeholder {
      color: #efefef;
    }
  }
  .form-control-textarea {
    border-color: #374959;
    background-color: #293642;
    color: #efefef;
    &::placeholder {
      color: #efefef;
    }
  }
}
.footer {
  padding-top: 2rem;
  a {
    color: #235bf4;
  }
  .footer-col.third {
    .fa-stack {
      font-size: 2rem;
      .fa-stack-2x {
        color: #293642;
      }
    }
  }
}
.copyright {
  text-align: center;
  p {
    color: #efefef;
    text-decoration: none;
  }
  a {
    color: #efefef;
    text-decoration: none;
  }
}
.ex-header {
  padding-top: 8.5rem;
  padding-bottom: 4rem;
  background-color: #161223;
  h1 {
    color: #ffffff;
  }
}
.ex-basic-1 {
  .list-unstyled {
    .fas {
      font-size: 0.375rem;
      line-height: 1.625rem;
    }
    .flex-grow-1 {
      margin-left: 0.5rem;
    }
  }
  .text-box {
    padding: 1.25rem 1.25rem 0.5rem 1.25rem;
    background-color: #f7f9fd;
  }
}
.ex-cards-1 {
  .card {
    border: none;
    background-color: transparent;
    .fa-stack {
      width: 2em;
      font-size: 1.125rem;
    }
    .fa-stack-2x {
      color: #235bf4;
    }
    .fa-stack-1x {
      width: 2em;
      color: #ffffff;
      font-weight: 700;
      line-height: 2.125rem;
    }
    .list-unstyled {
      .flex-grow-1 {
        margin-left: 2.25rem;
        h5 {
          margin-top: 0.125rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .header {
    .header-content {
      padding-top: 15rem;
      padding-bottom: 13rem;
    }
  }
  .form-1 {
    .list-unstyled {
      li {
        display: inline-block;
      }
    }
  }
  .ex-basic-1 {
    .text-box {
      padding: 1.75rem 2rem 0.875rem 2rem;
    }
  }
}
@media (min-width: 992px) {
  .h2-heading {
    width: 35.25rem;
    margin-right: auto;
    margin-left: auto;
  }
  .p-heading {
    width: 46rem;
    margin-right: auto;
    margin-left: auto;
  }
  .navbar {
    padding-top: 1.75rem;
    background-color: transparent;
    box-shadow: none;
    transition: all 0.2s;
    .navbar-nav {
      margin-top: 0;
      margin-bottom: 0;
    }
    .nav-item {
      .nav-link {
        padding-right: 0.75rem;
        padding-left: 0.75rem;
      }
    }
    .dropdown-menu {
      padding-top: 0.75rem;
      padding-bottom: 0.875rem;
      box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.08);
    }
    .dropdown-divider {
      width: 90%;
    }
    .social-icons {
      margin-left: 0.5rem;
    }
    .fa-stack {
      margin-right: 0;
      margin-left: 0.25rem;
    }
  }
  .navbar.top-nav-collapse {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #161223;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.025);
  }
  .offcanvas-collapse {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    width: auto;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
    overflow-y: visible;
    visibility: visible;
  }
  .offcanvas-collapse.open {
    -webkit-transform: none;
    transform: none;
  }
  .header {
    .header-content {
      padding-top: 18rem;
      padding-bottom: 16rem;
    }
    .h1-large {
      margin-bottom: 2.75rem;
      font-size: 5rem;
      line-height: 5.75rem;
    }
  }
  .split {
    height: 786px;
    .area-1 {
      height: 100%;
      width: 50%;
      display: inline-block;
    }
    .area-2 {
      height: 100%;
      width: 50%;
      display: inline-block;
      padding-bottom: 0;
      vertical-align: top;
    }
    .text-container {
      width: 400px;
      margin-left: 3rem;
    }
  }
  .filter {
    .grid {
      max-width: 750px;
    }
    .element-item {
      display: inline-block;
      width: 351px;
      margin-right: 0.625rem;
      margin-left: 0.625rem;
      vertical-align: top;
    }
  }
  .footer {
    .footer-col {
      margin-bottom: 2rem;
    }
    .footer-col.third {
      display: inline-block;
      width: 250px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
    }
    .header {
      height: 100vh;
      .header-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        padding-top: 0;
        padding-bottom: 0;
      }
      .btn-solid-lg {
        padding: 1.875rem 3rem;
        font-size: 1rem;
      }
    }
    .split {
      height: 708px;
      .text-container {
        width: 450px;
        margin-left: 6rem;
      }
    }
    .filter {
      .grid {
        max-width: 1120px;
      }
    }
    .slider-1 {
      .slider-container {
        width: 82%;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .form-1 {
      form {
        width: 776px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .footer {
      .footer-col.first {
        width: 352px;
        margin-right: 6rem;
      }
      .footer-col.second {
        margin-right: 6.5rem;
      }
      .footer-col.third {
        text-align: right;
      }
    }
  }
}
