<template>
  <video-background src="src/assets/images/header-background-video.mp4">
    <header
      id="acasă"
      class="header"
      :style="{
        'background-image': 'url(src/assets/images/contact-background.jpg)',
      }"
    >
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div
              data-aos-duration="1500"
              data-aos="zoom-in"
              data-aos-mirror="true"
              class="col-lg-12"
            >
              <h1 class="h1-large">Bine ați venit</h1>
              <a class="btn-solid-lg" href="#servicii">Să începem</a>
            </div>
          </div>
        </div>
      </div>
    </header>
  </video-background>

  <div id="servicii" class="cards-1 my-5">
    <div class="container my-5">
      <div class="row"></div>

      <div class="row">
        <div class="col-lg-12">
          <div
            data-aos-mirror="true"
            data-aos-duration="1000"
            data-aos="fade-up"
            class="card"
          >
            <div class="card-icon">
              <span class="fas fa-box-open"></span>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                Transport gratuit la comenzile de peste 100 ron
              </h4>
            </div>
          </div>

          <div
            data-aos-mirror="true"
            data-aos-duration="1000"
            data-aos="fade-up"
            class="card"
          >
            <div class="card-icon">
              <span class="fas fa-truck"></span>
            </div>
            <div class="card-body">
              <h4 class="card-title">
                Livrare în toată țara prin curier sau prin poșta română
              </h4>
            </div>
          </div>

          <div
            data-aos-mirror="true"
            data-aos-duration="1000"
            data-aos="fade-up"
            class="card"
          >
            <div class="card-icon">
              <span class="fas fa-dollar-sign"></span>
            </div>
            <div class="card-body">
              <h4 class="card-title">Plată ramburs sau card</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="produse" class="filter bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2
            data-aos="zoom-in"
            data-aos-duration="2000"
            data-aos-mirror="true"
            class="h2-heading"
          >
            Unele dintre produsele noastre
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <div
            data-aos="zoom-in-down"
            data-aos-mirror="true"
            class="button-group filters-button-group"
          >
            <button class="button is-checked" data-filter="*">TOATE</button>
            <button class="button" data-filter=".barbati">BĂRBAȚI</button>
            <button class="button" data-filter=".femei">FEMEI</button>
            <button class="button" data-filter=".copii">COPII</button>
          </div>

          <div class="grid">
            <div class="element-item femei">
              <img
                class="img-fluid"
                src="src/assets/images/Tricou kappa.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item barbati">
              <img
                class="img-fluid"
                src="src/assets/images/Bluza tommy.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item barbati">
              <img
                class="img-fluid"
                src="src/assets/images/Camasa.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item copii">
              <img
                class="img-fluid"
                src="src/assets/images/Tricou adidas telekom.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item copii">
              <img
                class="img-fluid"
                src="src/assets/images/Pantaloni nike.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item barbati">
              <img
                class="img-fluid"
                src="src/assets/images/Camasa copii.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item copii">
              <img
                class="img-fluid"
                src="src/assets/images/Bluza nike.jpeg"
                alt="alternative"
              />
            </div>
            <div class="element-item barbati">
              <img
                class="img-fluid"
                src="src/assets/images/Tricou umbro.jpeg"
              />
            </div>
            <div class="element-item copii">
              <img
                class="img-fluid"
                src="src/assets/images/Tricou timberland.jpeg"
                alt="alternative"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="părere_clienți" class="slider-1">
    <div class="container">
      <div
        class="row col-lg-12"
        data-aos-mirror="true"
        data-aos-duration="3000"
        data-aos="zoom-out-up"
      >
        <div class="slider-container">
          <div class="swiper-container card-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img
                  class="testimonial-image"
                  src="src/assets/images/WhatsApp Image 2021-11-09 at 5.17.04 PM.jpeg"
                  alt="alternative"
                />
                <h1>Cristi</h1>
                <p class="testimonial-text">
                  “Produsul este conform descrierii, comunicarea este bună și
                  livrarea este promptă. Sunt mulțumit și recomand cu
                  încredere!”
                </p>
              </div>

              <div class="swiper-slide">
                <img
                  class="testimonial-image"
                  src="src/assets/images/WhatsApp Image 2021-11-09 at 5.11.15 PM.jpeg"
                  alt="alternative"
                />
                <h1>George</h1>
                <p class="testimonial-text">
                  “Produsul pe care l-am achiziționat mi-a întrecut așteptările,
                  este în stare foarte bună și mărimea îmi vine perfect, aștept
                  cu nerăbdare să apară produse noi”
                </p>
              </div>
              <div class="swiper-slide">
                <img
                  class="testimonial-image"
                  src="src/assets/images/WhatsApp Image 2021-11-09 at 5.10.02 PM.jpeg"
                  alt="alternative"
                />
                <h1>David</h1>
                <p class="testimonial-text">
                  “Îmi place foarte mult produsul pe care l-am achiziționat, mă
                  bucur că este corespunzător descrierii prezentate. Cu
                  siguranță o să mai achiziționez produse de la Sălaj Resell!”
                </p>
              </div>
            </div>

            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div
    id="contact"
    class="form-1"
    :style="{
      'background-image': 'url(src/assets/images/contact-background.jpg)',
    }"
  >
    <div class="container">
      <div class="row">
        <div
          data-aos-mirror="true"
          data-aos="fade-down"
          data-aos-duration="2000"
          class="col-lg-12"
        >
          <h2 class="h2-heading">Vrem să știm părerea ta</h2>
          <ul class="list-unstyled li-space-lg">
            <li class="px-2">
              <i class="fas fa-map-marker-alt"></i> &nbsp;Zalău, Sălaj, Romănia
            </li>
            <li class="px-2">
              <i class="fas fa-phone"></i> &nbsp;+40 747 841 891
            </li>
            <li class="px-2">
              <i class="fas fa-envelope"></i> &nbsp;sălajresell@gmail.com
            </li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <form>
            <div
              data-aos-mirror="true"
              data-aos="fade-up"
              data-aos-duration="2000"
              class="form-group"
            >
              <input
                type="text"
                class="form-control-input"
                placeholder="Nume"
                required
                v-model="nume"
              />
            </div>
            <div
              data-aos-mirror="true"
              data-aos="fade-up"
              data-aos-duration="2000"
              class="form-group"
            >
              <input
                type="text"
                class="form-control-input"
                placeholder="Prenume"
                required
                v-model="prenume"
              />
            </div>
            <div
              data-aos-mirror="true"
              data-aos="fade-up"
              data-aos-duration="2000"
              class="form-group"
            >
              <input
                type="email"
                class="form-control-input"
                placeholder="Email"
                required
                v-model="email"
              />
            </div>
            <div
              data-aos-mirror="true"
              data-aos="fade-up"
              data-aos-duration="2000"
              class="form-group"
            >
              <textarea
                class="form-control-textarea"
                placeholder="Mesaj"
                required
                v-model="mesaj"
              ></textarea>
            </div>
            <div
              data-aos-mirror="true"
              data-aos="fade-up"
              data-aos-duration="1000"
              class="form-group"
            >
              <button
                @click="sendTheMessage"
                type="submit"
                class="form-control-submit-button"
              >
                Trimite
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="footer-col third">
        <span class="fa-stack">
          <a
            data-aos-mirror="true"
            data-aos="zoom-in"
            data-aos-duration="2000"
            href="https://www.instagram.com/salajresell/"
          >
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-instagram fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a
            data-aos-mirror="true"
            data-aos="zoom-in"
            data-aos-duration="2000"
            href="https://www.facebook.com/salajresell"
          >
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-facebook-f fa-stack-1x"></i>
          </a>
        </span>
        <span class="fa-stack">
          <a
            data-aos-mirror="true"
            data-aos="zoom-in"
            data-aos-duration="2000"
            href="https://www.tiktok.com/@salajresell?"
          >
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fab fa-tiktok fa-stack-1x"></i>
          </a>
        </span>
      </div>
    </div>

    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">
              <a href="https://www.instagram.com/chis_alex/">Chiș Alexandru</a>
              Copyright © 2022
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  mounted() {
    let script0 = document.createElement("script");
    script0.setAttribute("src", "src/assets/js/bootstrap.min.js");
    document.head.appendChild(script0);
    let script1 = document.createElement("script");
    script1.setAttribute("src", "src/assets/js/swiper.min.js");
    document.head.appendChild(script1);
    let script2 = document.createElement("script");
    script2.setAttribute("src", "src/assets/js/scripts.js");
    document.head.appendChild(script2);
    let script3 = document.createElement("script");
    script3.setAttribute("src", "https://unpkg.com/aos@next/dist/aos.js");
    document.head.appendChild(script3);
    let script4 = document.createElement("script");
    script4.setAttribute("src", "src/assets/js/isotope.pkgd.min.js");
    document.head.appendChild(script4);
  },
};
</script>
<style lang="scss">
@import "bootstrap-icons";
@import "../assets/css/swiper.css";
@import "https://unpkg.com/aos@next/dist/aos.css";
</style>
