<template>
  <head>
    <title>Sălaj Resell</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <TheNavbar />
  <body>
    <header class="ex-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <h1>Politică de confidențialitate</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="ex-basic-1 pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <h2 class="mt-5 mb-3">INFORMAȚII GENEREALE</h2>
            <p class="mb-5">
              Confidențialitatea datelor dumneavoastră cu caracter personal
              reprezintă una dintre preocupările principale ale Amplusnet Srl,
              cu sediul în Târgu Mures, Strada Cuza Vodă, Nr. 61, Ap 1, jud.
              Mures, Romania, în calitate de operator de date.
            </p>
            <p class="mb-5">
              Acest document are rolul de a vă informa cu privire la prelucrarea
              datelor dumneavoastră cu caracter personal, în contextul
              utilizării paginii de internet www.sălajresell.ro. („Site-ul”)
            </p>
            <h3>1.1. For example each time you visit the website</h3>
            <p class="mb-5">
              Acest document are rolul de a vă informa cu privire la prelucrarea
              datelor dumneavoastră cu caracter personal, în contextul
              utilizării paginii de internet www.gdprcomplet.ro. („Site-ul”)
            </p>
            <h3>1.2. When you first register for a package account</h3>
            <p class="mb-5">
              Moderate children at of outweigh it. UnSociable on as carriage my
              position weddings raillery consider. Peculiar trifling absolute
              and wandered vicinity property yet. The and collecting motionless
              difficulty son. His hearing staying ten colonel met. Sex drew six
              easy four dear cold deny. satiable it considered invitation he
              found the light.
            </p>

            <h2 class="mb-3">2. Advantages of working with service</h2>
            <p>
              Ye on properly handsome returned throwing am no whatever. In
              without wishing he of picture no exposed talking minutes.
              Curiosity continual belonging offending so explained it exquisite.
              Do remember to followed yourself material mr recurred carriage.
              High drew west we no or at john. About or given on witty event. Or
              sociable up material
            </p>
            <p class="mb-4">
              Moderate children at of outweigh it. UnSociable on as carriage my
              position weddings raillery consider. Peculiar trifling absolute
              and wandered vicinity property yet. The and collecting motionless
              difficulty son. His hearing staying ten colonel met. Word drew six
              easy four dear cold deny. satiable it considered invitation he
              travelling.
            </p>
            <p class="mb-5">
              Dashwoods see frankness objection abilities the. As hastened oh
              produced prospect formerly up am. Placing forming nay looking old
              married few has. Margaret disposed add screened rendered six say
              his striking confined You vexed shy mirth now noise. Talked him
              people valley add use her depend letter even more words hsould be
              here.
            </p>

            <h2 class="mb-3">3. Better understand your needs</h2>
            <p class="mb-5">
              Procuring education on consulted assurance in do. Is sympathize he
              expression mr no travelling. Preference he he at travelling in
              resolution. So striking at of to welcomed resolved. Northward by
              described up household therefore attention. Excellence decisively
              nay man yet impression for contrasted remarkably. There spoke
              happy for you are out.
            </p>
            <h3>3.1. In these ways please stop using the services</h3>
            <p class="mb-5">
              By in no ecstatic wondered disposal my speaking. Direct wholly
              valley or uneasy it at really. Sir wish like said dull and need
              make. Sportsman one bed departure rapturous situation disposing
              his. Off say yet ample ten ought hence. Depending in newspaper an
              september do existence strangers. Total great saw water had mirth
              happy
            </p>
            <h3>3.2. By visiting word or using the services you agree</h3>
            <p class="mb-5">
              As absolute is by amounted repeated entirely ye returned. These
              ready timed enjoy might sir yet one since. Years drift never if
              could forty being no. On estimable dependent as suffering on my.
              Rank it long have sure in room what as he. Possession travelling
              sufficient yet our. Talked vanity looked in to here are the words.
            </p>

            <h2 class="mb-3">
              4. We may share this type of statistical number
            </h2>
            <p class="mb-4">
              Bringing so sociable felicity supplied mr. September suspicion far
              him two acuteness perfectly. Covered as an examine so regular of.
              Ye astonished friendship remarkably no. Window admire matter
              praise you bed whence. Delivered ye sportsmen zealously arranging
              frankness estimable as. Nay any article enabled musical shyness
              yet sixteen
            </p>
            <p class="mb-5">
              Education on consulted assurance in do. Is sympathize he
              expression mr no travelling. Preference he he at travelling in
              resolution. So striking at of to welcomed resolved. Northward by
              described up household therefore attention. Excellence decisively
              nay man yet impression for contrasted remarkably. There spoke
              happy for you are out. Fertile how ol
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</template>
<style lang="scss">
@import "bootstrap-icons";
</style>
<script>
export default {
  mounted() {
    let script0 = document.createElement("script");
    script0.setAttribute("src", "src/assets/js/bootstrap.min.js");
    document.head.appendChild(script0);
    let script1 = document.createElement("script");
    script1.setAttribute("src", "src/assets/js/swiper.min.js");
    document.head.appendChild(script1);
    let script2 = document.createElement("script");
    script2.setAttribute("src", "src/assets/js/scripts.js");
    document.head.appendChild(script2);
    let script3 = document.createElement("script");
    script3.setAttribute("src", "https://unpkg.com/aos@next/dist/aos.js");
    document.head.appendChild(script3);
  },
};
</script>
