<template>
  <body data-spy="scroll" data-target=".fixed-top">
    <header class="ex-header">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <h1>Termeni și condiții</h1>
          </div>
        </div>
      </div>
    </header>

    <div class="ex-basic-1 pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-10 offset-xl-1">
            <h2 class="mb-3">TERMENI ȘI CONDIȚII GDPR</h2>
            <p class="mb-5">
              Condiții Generale pentru utilizarea site-ului Sălaj Resell
            </p>

            <h2 class="mb-3">ACCEPTAREA CONDITIILOR</h2>
            <p class="mb-5">
              Prin accesarea acestui site web și/sau a oricărei pagini a
              acestuia sunteți de acord cu aceste condiții de utilizare. Dacă nu
              sunteți de acord cu acești termeni și condiții de utilizare, nu
              accesați acest site.
            </p>

            <h2 class="mb-3">DESCRIEREA SERVICIILOR</h2>
            <p class="mb-5">
              Site-ul nostru vă pune la dispoziție informațiile din acest site
              web în scop informativ general și nu garantează exactitatea lor la
              un moment dat, deși se va încerca pe cât posibil ca la publicarea
              lor pe site toate informațiile să fie exacte.
            </p>

            <h2 class="mb-3">INTRODUCERE</h2>
            <p class="mb-5">
              Prezentele Condiții Generale definesc condițiile de utilizare a
              site-ului Sălaj Resell de către potențialii vizitatori sau
              clienți. Accesând și navigând pe acest site, acceptați termenii de
              utilizare descriși în continuare.
            </p>

            <h2 class="mb-3">DREPTURILE ASUPRA CONȚINUTULUI SITE-ULUI</h2>
            <p class="mb-4">
              S.C. Sălaj Resell, nu va transfera titlul de proprietate asupra
              aplicațiilor software .
            </p>
            <p class="mb-4">
              Sălaj Resell deține drepturi complete și depline asupra titlului
              de proprietate și prin aceasta toate drepturile de autor și cele
              brevetate. Nu aveți dreptul să redistribuiti, vindeți,
              decompilați, dezasamblați aplicația software într-o formă
              perceptibila de către oameni.
            </p>
            <p class="mb-4">
              Toate informațiile, produsele sau aplicațiile conținute în acest
              site sunt proprietatea Sălaj Resell, care își rezervă dreptul de a
              modifica conținutul și/sau structura site-ului în orice moment si
              fără nici o informare prealabilă.
            </p>
            <p class="mb-4">
              Întregul conținut al site-ului Sălaj Resell este protejat prin
              legea drepturilor de autor, toate drepturile fiind rezervate.
              Toate drepturile referitoare la pagini, conținutul și prezentarea
              site-ului sunt deținute de Sălaj Resell. Este interzisă copierea,
              modificarea, afișarea, distribuirea, transmiterea, publicarea,
              comercializarea, licențierea, crearea unor materiale derivate sau
              utilizarea conținutului site-ului în orice scop fără confirmarea
              scrisă din partea Sălaj Resell.
            </p>
            <p class="mb-4">
              Accesul și utilizarea paginii Sălaj Resell sunt gratuite și au
              scopul de a veni în ajutorul utilizatorilor pentru a găsi
              informațiile necesare în cel mai ușor și rapid mod posibil,
              conform cerințelor fiecăruia.
            </p>
            <p class="mb-5">
              Informațiile prezente pe Sălaj Resell sunt de interes general și
              sunt puse la dispoziția utilizatorilor în mod gratuit. Prin
              termenul „utilizator” al acestei pagini se înțelege orice persoană
              fizică sau juridică care va accesa pagina. Puteți copia și tipări
              conținutul paginii Sălaj Resell pentru folosința dumneavoastră
              personală, fără intenții comerciale. În orice alte situații,
              conținutul Sălaj Resell nu poate fi reprodus, modificat sau
              exploatat fără consințământul explicit al reprezentanților Sălaj
              Resell.
            </p>

            <h2 class="mb-3">NEANGAJAREA RĂSPUNDERII</h2>
            <p class="mb-4">
              Conținutul informațiilor se referă la descrierea într-un anumit
              grad de detaliere a activităților, produselor și serviciilor Sălaj
              Resell.
            </p>
            <ul class="list-unstyled mb-4">
              <li>Sălaj Resell nu va acorda nici o garanție referitoare la:</li>
              <li>
                <div>
                  – evitarea utilizării anevoioase sau întreruperii în utilizare
                  a site-ului;
                </div>
              </li>
              <li class="d-flex">
                <div>
                  – neafectarea în sens negativ a altor sisteme prin utilizarea
                  site-ului;
                </div>
              </li>
              <li class="d-flex">
                <div>
                  – inexistența pe site-ul pus la dispoziție a virușilor sau
                  alte componente care ar putea dauna utilizatorilor.
                </div>
              </li>
            </ul>

            <p class="mb-4">
              Astfel, Sălaj Resell nu poate fi responsabilă pentru nici un fel
              de daune directe sau indirecte produse prin utilizarea site-ului
              său. Toate informațiile prezentate pe site cu privire la produsele
              Sălaj Resell, prețuri, informații, campanii și promoții de
              marketing, aspecte tehnice, sunt prezentate cu titlu informativ.
            </p>
            <p class="mb-4">
              Conținutul paginii web Sălaj Resell, a informațiilor și a altor
              materiale prezentate de Comunitatea Sălaj Resell nu reprezinta o
              consultație juridică în sensul Legii nr. 51/1995.
            </p>
            <p class="mb-4">
              GDPR este un set de reguli bazat pe principii complexe, care este
              deschis la interpretare și conține, de asemenea, numeroase domenii
              în care statele membre sunt invitate să intervină. În prezent
              există foarte puține îndrumari cu privire la implementarea GDPR si
              este posibil ca Autoritățile de Supraveghere să aibă puncte de
              vedere diferite față de cele exprimate în acest șablon. În ciuda
              eforturilor noastre de a oferi cele mai bune servicii, nu putem
              anticipa cu exactitate modul în care Autoritatea de Supraveghere
              sau instanțele de judecată vor interpreta Regulamentul.
            </p>
            <p class="mb-4">
              Sălaj Resell nu face nicio declarație, promisiune sau garanție cu
              privire la exactitatea, exhaustivitatea sau caracterul adecvat al
              prezentului conținut, al îndrumarilor și a consultanței, nu își
              asuma nicio obligație de rezultat sau diligență față de nicio
              persoană, exclud în mod expres și neagă răspunderea pentru orice
              cost, pierdere sau daunele suferite ca urmare a utilizării
              conținutului.
            </p>

            <h2 class="mb-3">OBIECTIVUL CONȚINUTULUI SITE-ULUI</h2>
            <p class="mb-4">
              Sălaj Resell nu poate garanta că prezentele pagini nu conțin
              erori, și asigura că va depune toate diligentele pentru realizarea
              unei informari corecte și remedierea eventualelor erori.
            </p>
            <p class="mb-4">
              Orice persoană care dorește să-și procure unul din serviciile sau
              produsele prezentate în site este rugată să contacteze Sălaj
              Resell prin unul din mijloacele afișate în pagina de Contact a
              site-ului, pentru a se informa atât asupra disponibilității
              serviciului sau produsului în cauză cât și asupra condițiilor
              contractuale, tarifelor și informațiilor tehnice sau de altă
              natură.
            </p>

            <h2 class="mb-3">INFORMAȚII PERSONALE</h2>
            <p class="mb-4">
              Când prin intermediul prezentului site vă sunt solicitate
              informații, aceasta are ca scop identificarea dumneavoastră sau
              posibilitatea de a vă contacta. Acest lucru este cu atât mai
              necesar în cazul folosirii aplicațiilor disponibile pe site.
            </p>
            <p class="mb-4">
              Natura informațiilor solicitate se referă în special la date
              personale (nume, adresă, numere de telefon, adresă de e-mail)
              modul în care sunt utilizate sau intenționează să fie utilizate
              produsele și/sau serviciile Sălaj Resell, dar poate include și
              alte informații aflate în strânsă legatură cu utilizarea
              serviciilor și/sau produselor solicitate.
            </p>
            <p class="mb-4">
              Cu scopul de a răspunde mai bine nevoilor și întrebărilor
              utilizatorilor site-ului, informațiile solicitate prin intermediul
              acestui site vor face obiectul unei stocări și prelucrări
              electronice.
            </p>

            <h2 class="mb-3">LEGATURA CU ALTE SITE-URI</h2>
            <p class="mb-4">
              Prezentul site poate conține legături sau trimiteri către alte
              site-uri considerate de Sălaj Resell utile în legătură cu
              conținutul site-ului său și care nu se află sub controlul sau
              îndrumarea sa. În cazul utilizării acestor legături sau trimiteri
              se vor aplica condițiile generale de utilizare corespunzatoare
              acelor site-uri.
            </p>
            <p class="mb-4">
              Sălaj Resell nu poate garanta/controla actualitatea/exactitatea
              informațiilor prezente pe site-urile unor terti, la care se face
              trimitere de pe site-ul sau.
            </p>

            <h2 class="mb-3">
              INFORMAȚIILE OFERITE PRIN INTERMEDIUL SITE-ULUI
            </h2>
            <p class="mb-4">
              Orice persoană care vizitează site-ul Sălaj Resell și care oferă
              date sau informații cu caracter personal prin intermediul acestui
              site își manifestă acordul în mod expres și neechivoc pentru
              următoarele: prelucrarea acestor date și informații personale de
              către Sălaj Resell; transmiterii de materiale promoționale
              specifice operațiunilor de marketing direct; soluționarea de către
              Sălaj Resell a cererilor, întrebărilor și reclamațiilor adresate
              (a se vedea pagina Contact din site); alte activități întreprinse
              de Sălaj Resell și permise de lege, ce nu fac obiectul unei
              aprobari din partea destinatarului.
            </p>
            <p class="mb-4">
              Sălaj Resell va păstra confidențialitatea acestor informații.
            </p>
            <p class="mb-4">
              Utilizarea în continuare a acestui site constituie acordul expres
              și neechivoc al dumneavoastră în conformitate cu prevederile legii
              677/2001 și directivelor GDPR pentru protecția persoanelor cu
              privire la prelucrarea datelor cu caracter personal și libera
              circulație a acestor date.
            </p>
            <p class="mb-4">
              Pentru orice nelămurire în legătură cu exercitarea drepturilor
              dumneavoastră referitoare la utilizarea site-ului și la protecția
              utilizării vă rugam să ne contactați prin intermediul secțiunii
              Contact din site.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</template>
<script>
export default {
  mounted() {
    let script0 = document.createElement("script");
    script0.setAttribute("src", "src/assets/js/bootstrap.min.js");
    document.head.appendChild(script0);
    let script1 = document.createElement("script");
    script1.setAttribute("src", "src/assets/js/swiper.min.js");
    document.head.appendChild(script1);
    let script2 = document.createElement("script");
    script2.setAttribute("src", "src/assets/js/scripts.js");
    document.head.appendChild(script2);
    let script3 = document.createElement("script");
    script3.setAttribute("src", "https://unpkg.com/aos@next/dist/aos.js");
    document.head.appendChild(script3);
  },
};
</script>
