<script setup>
import { RouterLink } from "vue-router";
</script>
<template>
  <head>
    <title>Sălaj Resell</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap"
      rel="stylesheet"
    />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="src/assets/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="src/assets/css/styles.css" rel="stylesheet" />
  </head>
  <nav
    id="navbar"
    class="navbar navbar-expand-lg fixed-top navbar-dark"
    aria-label="Main navigation"
    style="height: 4rem"
  >
    <div class="container">
      <div class="navbar-brand logo-image">
        <img
          class="h-100"
          src="../assets/images/Logo-tab 2.png"
          style="object-fit: contain"
          alt="alternative"
        />
      </div>

      <button
        class="navbar-toggler p-0 border-0"
        type="button"
        id="navbarSideCollapse"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="navbar-collapse offcanvas-collapse"
        id="navbarsExampleDefault"
      >
        <ul class="navbar-nav ms-auto navbar-nav-scroll">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/#">Acasă</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#produse">Produse</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#părere_clienți">Părerea clienților</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/#contact">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="dropdown01"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >Altele</a
            >
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li>
                <RouterLink class="nav-link" to="/terms_and_conditions">
                  Termeni și condiții
                </RouterLink>
              </li>
              <li><div class="dropdown-divider"></div></li>
              <li>
                <RouterLink class="nav-link" to="/privacy_policy">
                  Politică de cofidențialitate</RouterLink
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>
