<script setup>
import { RouterView } from "vue-router";
import TheNavbar from "./components/TheNavbar.vue";
</script>

<template>
  <TheNavbar />
  <RouterView />
</template>

<style lang="scss">
@import "bootstrap";
</style>
